@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}
<h1 class="text-center">Curriculum vitae</h1>
	<br />
	<div class="row col-12 mb-3">
		<div class="col-3">
			<img src="~/images/photo.jpg" class="w-100 rounded-circle shadow" />
		</div>
		<div class="col-9 d-flex align-items-center">
			<ul class="myUl">
				<li>
					<img src="~/images/phone.png" class="myIcon rounded-circle " /> +48 782 273 277
				</li>
				<li>
					<img src="~/images/mail.png" class="myIcon rounded-circle " /> jakub.kochanski10@gmail.com
				</li>
				<li>
					<img src="~/images/birthday-cake.png" class="myIcon rounded-circle " /> 09.03.2002
				</li>
				<li>
					<img src="~/images/pin.png" class="myIcon rounded-circle" /> Warszawa
				</li>
			</ul>
		</div>
	</div>

<b class="myHeader">Wykształcenie</b>
	<div class="border mb-3"></div>
		<div class="row col-12 mb-3">
			<div class="col-2">
				10.2021 - obecnie
			</div>
			<div class=col-10>
				<b>Szkoła Główna Gospodarstwa Wiejskiego w Warszawie</b>
				<br />
				Kierunek: Informatyka
			</div>
		</div>
		<div class="row col-12 mb-3">
			<br />
			<div class="col-2">
				09.2018 - 05.2021
			</div>
		
			<div class=col-10>
				<b>VI Liceum Ogólnokształcące im. Juliusza Słowackiego w Kielcach</b>
			</div>
		</div>
		<div class="row col-12 mb-3">
			<br />
			<div class="col-2">
				09.2018 - 05.2021
			</div>
		
			<div class=col-10>
				<b>VI Liceum Ogólnokształcące im. Juliusza Słowackiego w Kielcach</b>
			</div>
		</div>
<b class="myHeader">Doświadczenie zawodowe</b>
	<div class="border mb-3"></div>
	<div class="myFont">
		<div class="row col-12 mb-3">
			<div class="col-2">
				10.2021 - obecnie
			</div>
			<div class=col-10>
				<b>Korepetytor</b>
				<br />
				PROJEKT MAT-FIZ
				<br />
				Prowadzenie korepetycji na poziomie do matury rozszerzonej.
			</div>
		</div>
	</div>
<b class="myHeader">Znajomość języków</b>
	<div class="border mb-3"></div>
	<div class="myFont">
		<div class="row col-12 mb-3">
			<div class="col-2">
			</div>
			<div class=col-10>
				<b>angielski:</b> poziom B2
			</div>
		</div>
		<div class="row col-12 mb-3">
			<div class="col-2">
			
			</div>
			<div class=col-10>
				<b>niemiecki:</b> poziom podstawowy
			</div>
		</div>
		<div class="row col-12 mb-3">
			<div class="col-2">
			</div>
			<div class=col-10>
				<b>rosycjski:</b> poziom podstawowy
			</div>
		</div>
	</div>
<b class="myHeader">Umiejętności</b>
	<div class="border mb-3"></div>
	<div class="myFont">
		<div class="row col-12 mb-3">
			<div class="col-2">
			</div>
			<div class=col-10>
				<ul>
					<li>C#</li>
					<li>Python</li>
					<li>Flutter</li>
					<li>Efektywna praca pod presją</li>
					<li>Analityczne podejście do zadań</li>
					<li>Umiejętność pracy w zespole</li>
					<li>Szybkie uczenie się</li>
					<li>Prawo jazdy kategorii B</li>
				</ul>
			</div>
		</div>
	</div>
<b class="myHeader">Szkolenia, kursy, certyfikaty</b>
	<div class="border mb-3"></div>
	<div class="myFont">
		<div class="row col-12 mb-3">
			<div class="col-2">
			</div>
			<div class=col-10>
				<ul>
					<li><b>finalista z inforamtyki w wojewódzkim kuratoryjnym konkursie przedmiotowym</b></li>
					<li><b>laureat z matematyki w wojewódzkim kuratoryjnym konkursie przedmiotowym</b></li>
					<li><b>Szkolenie Java z firmą Transition Technologies</b></li>
					<li><b>Szkolenie z tworzenia aplikacji mobilnych we Flutterze</b></li>
				</ul>
			</div>
		</div>
	</div>

<b class="myHeader">Aktywność dodatkowa</b>
	<div class="border mb-3"></div>
	<div class="myFont">
		<div class="row col-12 mb-3">
			<div class="col-2">
				10.2021-obecnie
			</div>
			<div class=col-10>
				<b>Kółko informatyczne Silver.NET</b>
			</div>
		</div>
	</div>
<b class="myHeader">Zainteresowania</b>
	<div class="border mb-3"></div>
	<div class="myFont">
		<div class="row col-12 mb-3">
			<div class="col-2">
			</div>
			<div class=col-10>
				<ul>
					<li>Programowanie</li>
					<li>Siłownia</li>
					<li>Rower</li>
				</ul>
			</div>
		</div>
	</div>
<b class="myHeader">Linki</b>
	<div class="border mb-3"></div>
	<div class="text-center">
		<a href="https://github.com/NotZetka" target="_blank"><img src=~/images/github.jpg/></a>
	</div>