@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Curriculum vitae</h1>
    <br />
    <div class="row col-10">
        <div class="col-7">
            <div>Telefon: +48 782 273 277</div>
            <div>Mail: jakub.kochanski10@gmail.com</div>
            <div>Github: https://github.com/NotZetka</div>
        </div>
        <div class="col-3">
            <img src="~/images/photo.jpg" class="w-100" />
        </div>
    </div>

</div>

