@page
@model Jakub_Kochański.Pages.ProjektyModel
@{
}
<div class="text-center">
    <div class="h1">Projekty</div>
    <div class="border m-5"></div>
        <div class="h3 mb-0">Kampus SGGW</div>
            <p>Flutter</p>
            <div class="mb-3"><img src=~/images/Kampus.png width=25%/></div>
            <p>Aplikacja kampusu uczelni SGGW, w tworzeniu której brałęm udział. Dostępna w 
                <a href="https://play.google.com/store/apps/details?id=com.silvers.kampus_sggw_remake&hl=pl&gl=US">GooglePlay</a>
                i <a href="https://apps.apple.com/us/app/kampus-sggw/id1586959639">AppStore</a>
            </p>
        <div class="h3 mb-0">ToDoList</div>
            <p>Flutter</p>
            <iframe width="260" height="450" src="https://www.youtube.com/embed/jQnQci_E2X0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>Prosta lista zadań we flutterze, działająca na Android i Ios</p>
        <div class="h3 mb-0">PomodoroApp</div>
            <p>Flutter</p>
            <iframe width="260" height="450" src="https://www.youtube.com/embed/dQe5E2YelFs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>Aplikacja pomodoro napisana we flutterze, działająca na Android i Ios</p>
        <div class="h3 mb-0">Snake</div>
            <p>Python</p>
            <iframe width="500" height="500" src="https://www.youtube.com/embed/F4Ys7G0fSKg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>Gra snake napisana w Pythonie</p>
        <div class="h3 mb-0">Spaceships</div>
            <p>Python</p>
            <iframe width="400" height="600" src="https://www.youtube.com/embed/vm7LWXeimZU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>Gra w statki napisana w Pythonie</p>
        <div class="h3 mb-0">ToDoList</div>
            <p>Python</p>
            <img src="~/images/ToDoList.png" />
            <p>Okienkowa toDoLista napisana w Pythonie</p>
</div>